# APK 파일 무시
# Android 빌드 시 생성되는 APK 파일을 무시합니다.
*.apk
android/app/build/outputs/apk/debug/app-debug.apk

# OSX 관련 파일 무시
# macOS에서 자동 생성되는 파일들을 무시합니다.
.DS_Store
./src/.DS_Store

# Xcode 관련 파일 무시
# Xcode 프로젝트의 사용자별 파일과 빌드 관련 임시 파일을 무시합니다.
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ 관련 파일 무시
# Android Studio와 IntelliJ에서 생성되는 파일들을 무시합니다.
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Node.js 관련 파일 무시
# npm 또는 Yarn에서 생성되는 로그와 모듈 파일을 무시합니다.
node_modules/
npm-debug.log
yarn-error.log

# fastlane 관련 파일 무시
# fastlane에서 생성되는 파일 중 Git에 저장할 필요가 없는 파일들을 무시합니다.
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# 번들 아티팩트 무시
# React Native에서 생성되는 JavaScript 번들 파일을 무시합니다.
*.jsbundle

# Ruby / CocoaPods 관련 파일 무시
# CocoaPods 의존성 폴더와 Ruby 번들 폴더를 무시합니다.
**/Pods/
/vendor/bundle/

# Metro에서 파일 상태를 확인하기 위해 생성하는 임시 파일 무시
.metro-health-check*

# 테스트 관련 파일 무시
# 코드 커버리지 등 테스트 관련 파일을 무시합니다.
/coverage

# Yarn 관련 파일 무시
# Yarn에서 관리하는 특정 폴더를 무시합니다.
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# React Native 관련 파일 무시
# React Native 빌드와 캐시에 관련된 파일을 무시합니다.
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties

# 특정 파일 확장자 무시
# 백업 및 로그 파일 등을 무시합니다.
*.orig
*.patch
*.bak
*.old
*.pid
*.seed
*.seed.old
*.coveragerc
*.coverage
*.lock
*.log
*.tmp
*.temp

# TypeScript 관련 파일 무시
# TypeScript 빌드 정보 파일을 무시합니다.
*.tsbuildinfo

# 빌드 아티팩트 무시
# 프로젝트의 빌드 결과물과 임시 폴더들을 무시합니다.
build/
dist/
tmp/
temp/
out/

# Expo 관련 파일 무시
# Expo에서 생성되는 파일을 무시합니다.
.expo/
.expo-shared/

# 환경 설정 파일 무시
# .env 파일과 환경설정 관련 파일을 무시합니다.
.env
.env.local
.env.*.local
