# APK 파일 무시
*.apk
android/app/build/outputs/apk/debug/app-debug.apk

# OSX 관련 파일 무시
.DS_Store
./src/**/.DS_Store
./src/.DS_Store

# Xcode 관련 파일 무시
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ 관련 파일 무시
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js 관련 파일 무시
node_modules/
npm-debug.log
yarn-error.log

# fastlane 관련 파일 무시
# 스크린샷은 Git 저장소에 저장하지 않고 필요할 때마다 fastlane으로 재생성하는 것이 좋습니다.
# 자세한 내용은 https://docs.fastlane.tools/best-practices/source-control/ 참고
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# 번들 아티팩트 무시
*.jsbundle

# Ruby / CocoaPods 관련 파일 무시
**/Pods/
/vendor/bundle/

# Metro에서 파일 상태를 확인하기 위해 생성하는 임시 파일 무시
.metro-health-check*

# 테스트 관련 파일 무시
/coverage

# Yarn 관련 파일 무시
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# React Native 관련 파일 무시
# 빌드 아티팩트 및 캐시 파일
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties

# 특정 파일 확장자 무시
*.keystore
*.orig
*.patch
*.bak
*.old
*.pid
*.seed
*.seed.old
*.coveragerc
*.coverage
*.lock
*.log
*.tmp
*.temp

# TypeScript 관련 파일 무시
*.tsbuildinfo

# 빌드 아티팩트 무시
build/
dist/
tmp/
temp/
out/

# Expo 관련 파일 무시
.expo/
.expo-shared/

# 환경 설정 파일 무시
.env
.env.local
.env.*.local
